<div class="col-md-6" style="position: absolute; left: 30%; margin-left: -100px;">
	<div class="well" style="background-color: white">
		<h4>Вопросы:</h4>
		<ul class="list-group">
			<%= form_tag testing_complite_blank_path, method: :post do %>
			  <% @questions.each do |quest| %>
				      <li class="list-group-item">
				      <div><%= quest.name %></div>
				      	<%= quest.answer1%>
				        <%= radio_button_tag "answers[#{quest.id}]", quest.answer1-%>
				        <%= quest.answer2%>
				        <%= radio_button_tag "answers[#{quest.id}]", quest.answer2-%>
				      </li>
			  <% end %>
			<li style="list-style:none; margin-top:1em;">
				<%= form_tag testing_complite_blank_path, method: :post do %>
		  		<%= submit_tag 'Закончить',:class => "btn btn-default" %>
				<% end %>
			</li>
			<% end %>

		</ul>
		<%if user_signed_in? %>
			<%= link_to "Добавить вопрос", new_blank_question_path(@blank), :class => "btn btn-success", :style => "margin-top: 1em;", method: :get %>
		<%end %>
					<h2>Коментарии</h2>
<%= render @blank.comments %>
 
<h2>Добавить коментарий:</h2>
<%= render 'comments/form' %>
	</div>
</div>